body {
    font-weight: bold;
    color : white;
    background-image: url(cool-background.jpeg);
    font-family: Arial, Helvetica, sans-serif;}

input[type=id_password], input[type = id_username] {
    color: grey;
    padding: 12px 20px;
    margin: 20px 20px;
    display: inline-block;
    }


button , input[type = submit]{
  background-color: #4CAF50;
  color: white;
  padding: 14px 25px;
  margin: 20px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

.base
{
    display: inline-block;
}

.active
{   padding-left:;
    display: inline;
}


.wrapper
{
   margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 50px;
}

.form-box
{
    margin: 100px 30px;
    display: inline;
}

.create-customer
{
    margin-top: 10px;
   margin-bottom: 50px;
   margin-left: 100px;
   margin-right: 100px;
    display: inline;
}

.site-form
{
    display: inline;
}

h1
{
    text-align: center;
}

#id_FirstName
{ margin-right: 50px;
  margin-left: 10px;
}

#id_Email
{
 margin-right: 100px;
 margin-left: 10px;
}

#id_Phone
{ margin-right: 50px;
     margin-left: 10px;
}

#id_Address{
    margin: 70px 50px 40px 10px;
}

#id_LastName
{
    margin-right: 50px;
     margin-left: 10px;
}

#id_City{
margin-right:  200px;
 margin-left: 10px;
}

#id_Pincode
{
    margin-right: 100px;
}

.orders{
    margin: 50px 50px 40px 30px;
}

.order
{
    margin: 80px;
}

.product
{
    margin: 80px 50px 50px 50px;
    text-align: center;
}

.order_submit
{
    margin-left:  520px;
}
