
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Products</title>
    </head>
    <body>
        <h1>Product List</h1>
        <div class="products">
            {% for product in products %}
                <div class="article">
                    <h3><a href="#">{{ product.name }}</a></h3>
                    <p>{{ product.details }}</p>
                    <p>{{ product.cost }}</p>
                    <p>{{ product.seller }}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
