{% extends 'base_layout.html' %}

{% block content %}

    <div class="product-details">
        <div class="product">
            <img src="{{ product.image.url }}"/>
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>{{ product.display_cost }}</p>
            <p>{{ product.details }}</p>
            <p>{{ product.ratings }}</p>
            <p>{{ product.seller }}</p>
        </div>
    </div>

    <form class="orders" action="{% url 'orders:order_details' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ product.id }}">
        <input type="submit" name="Buy" value="Buy Now">
    </form>

{% endblock %}
